{% extends "base.html" %}

{% block content %}

<style>
  h1{
    text-align: center;
  }
  body {background-color: rgb(198, 220, 228);}
  p {color: rgb(17, 17, 17);
  font-family: "Arial, sans-serif";
  text-align: center;}
</style>

<h1><strong> PURCHASE </strong></h1>

<hr>

{% for msg in get_flashed_messages() %}
    <h2> {{ msg }} </h2>
{% endfor %}

<hr>

<div class="container container-fluid text-center">
  <form method="post" action="{{ url_for('purchase') }}">
    <div class="mb-3">
      <label for="item_name" class="form-label">Item_name</label>
      <input type="text" class="form-control" id="text" name="item_name">
    </div>
    <div class="mb-3">
      <label for="item_quantity" class="form-label">Item_quantity</label>
      <input type="number" class="form-control" id="number" name="item_quantity">
    </div>
    <div class="mb-3">
      <label for="item_price" class="form-label">Item_price</label>
      <input type="number" class="form-control" id="number" name="item_price">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock%}